body {
	background-color: lightblue;
	margin: 0;
	font-family: Arial, sans-serif;
}

.container {
    display: flex;
	max-width: 960px;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
    justify-content: space-between;
    box-sizing: border-box;
}

.container .profile-picture {
    width: 20%;
    box-sizing: border-box;
    margin-right: 10%;
}

.container .header-text{
    width:60%;
    box-sizing: border-box;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	background-image: url(header-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-picture {
	width: 200px;
    height: 200px;
	border-radius: 50%;
    float: left;
	margin:20px;
    margin-right: 20px;


	
}

.header-text {
	flex: 1;
	color: white;
}

h1 {
	font-size: 36px;
	/* margin: 0; */
}

p {
	font-size: 18px;
	line-height: 1.5;
	
}

.brand {
	background-color: gray;
	color: black;
	padding: 10px 20px;
	border-radius: 10px;
    font-style: oblique;
	font-size: 24px;
    font-weight: bold;
	display: inline-block;
	
}

main {
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
}

h2 {
	font-size: 24px;
	margin: 0 0 20px;
}

l{
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.books{
    width: 200px;
    border: 5px solid;
    border-radius: 20px;
    border-color: aqua;

}
.tax{
    width: 200px;
    border: 5px solid;
    border-radius: 20px;
    border-color: aqua;

}
.returns{
    width: 200px;
    border: 5px solid;
    border-radius: 20px;
    border-color: aqua;

}
.section{
        display: flex;
      }
      
h2 {
    flex: 0.4
 }
navigation{
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px;
    align-items: center;
    display: inline;
    list-style: none;
    margin-left: 30px;
    
    
}
.hero ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    margin-left: 300px;
    display: flex;
    width: 84%;
    padding: 20px;
    
    display: inline;
    list-style: none;
    margin-left: 30px;
    margin-right: auto;
    text-align: right;
    
}
.hero ul li{
        position: relative;
        padding: 5px 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: chartreuse;
      
    
}

   


